h1{
color:blue;
text-align:center;
}
.classtext{

align:center;
background-color: Green;  
  color: white;  
  padding: 20px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;

}

